.bg-top {
  background-color: #177fc2;
  font-size: 13px;
  color: white;
  padding: 5px 0;
}

ul.list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;

  li {
    position: relative;

    &:not(:last-child) {
      margin: 0 8px;

      &:before {
        position: absolute;
        content: '';
        right: -8px;
        width: 1px;
        height: 11px;
        background: white;
        top: 0;
        bottom: 0;
        margin: auto;
        color: white;
      }
    }

    &:last-child {
      margin-left: 8px;
    }

    &:first-child {
      margin-left: 0;
    }

  }
}

.logo-carousel {
  .logo-item {
    display: flex;
    align-items: center;
    img{
      display: flex;
      object-fit: contain;
    }
  }
}
